#container {
    width:950px;
}

#loginFormWraper{
    position: relative;
    height:460px;
    width:950px;
    background-image: url("../images/login_background.png");
}

#loginFormWraper .decorate-part1 {
    position: absolute;
    top:-122px;
    right:-1px;
    width:365px;
    height:122px;
    background: url("../images/decorate-part1.png") top left no-repeat;
}

#loginFormWraper .decorate-part2 {
    position: absolute;
    top:-122px;
    right:-125px;
    width:125px;
    height:239px;
    background: url("../images/decorate-part2.png") top right no-repeat;
}

#loginForm{
    background-color: #EEEEEE;
    position:relative;
    padding:10px;
    top:42%;
    left:35%;
    width:300px;
    height:120px;
    display:block;
    border-radius: 2px;
    box-shadow: 0 1px 10px 2px #cbcbcb;
}
.form-horizontal .controls{
    margin-top:3px;
    margin-left:10px;
}
.input-medium {
    width: 90%;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.center-custom{
    margin-left:25%;
}

